/* body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  padding: 2rem;
} */

.site-header {
  /* margin-bottom: 1rem; */
  margin-top: 5%;
}

.back-to-blogs {
  font-family: var(--heading);
}

.back-link {
  text-decoration: none;
  color: var(--primary-green);
  font-size: 1rem;
  transition: all ease-in-out 0.3s;
}

.back-link:hover {
  color: var(--mount-meadow);
  transform: translateX(5px);
}

.back-link .chevron {
  font-size: 1.5rem;
}

.single-blog {
  max-width: 1024px;
  margin: 5% auto;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: var(--heading);
}

.blog-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0 2rem;
  font-size: 0.9rem;
  color: #555;
}

.meta-left,
.meta-right {
  display: flex;
  flex-direction: column;
}

.meta-left p{
    font-family: var(--heading);
}

.meta-left .author-name,
.meta-left .publication-date {
  font-weight: bold;
  font-family: var(--text);
}

.share-label {
  margin-bottom: 0.5rem;
  font-family: var(--heading);
}

.share-icons {
  display: flex;
  gap: 0.5rem;
}

.share-icon img {
  width: 24px;
  height: 24px;
}

.blog-content {
  font-size: 1rem;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--text);
}
